.card{
    min-height: 70vh;
    min-width: 70vw;
}
.dado{
    font-size: 100px;
}
.dado-user{
    color:rgb(68, 84, 225);
}
.dado-computer{
    color: rgb(180, 32, 32);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    height: 70px;
    width: 150px;
    border-radius: 10px;
}
.startResult{
    background-color: rgb(104, 153, 168);
}
.score{
    background-color: rgb(107, 139, 174);
}

.reset{
    background-color: rgb(201, 204, 129);
}
.lose {
    background-color: rgb(220, 19, 19);
}
.win{
    background-color: rgb(13, 180, 38);
}
.drow{
    background-color: goldenrod;
}